@import "normalize";
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: #141414;
}

a {
  text-decoration: none;
}

header {
  padding: .3em;
  .homeLink {
    display: inline-block;
    color: #FFF;
    font-weight: bold;
    font-size: 2em;
    text-transform: uppercase;
    padding: .1em;
  }
}

.searchBar {
  input[type="text"],
  .searchBtn {
    font-size: 1em;
    padding: .5em 0;
    margin: 0;
    border: 0;
  }

  input[type="text"] {
    width: 100%;
    padding-left: .3em;
  }

  .searchBtn {
    width: 10%;
    margin-left: -10%;
    color: #FFF;
    background: linear-gradient(208deg, #3c489c, #d45658, #bec13e);
  }
}

.searchResults {
  // background: orange;

  ul {
    // background: gold;
    width: 95%;
    margin: 0 auto;
  }
}

.giphLink,
.giph {
  height: 14em;
}

.giphLink {
  display: block;
  background: linear-gradient(208deg, #3c489c, #d45658, #bec13e);
  min-width: 47%;
  max-width: 47%;
  margin: 1.5%;

  float: left;
}

.giph {
  min-width: 100%;
  max-width: 100%;
}

.toTop {
  position: fixed;
  bottom: .5em;
  right: .5em;
  font-size: 2em;
  background: orange;
  padding: .2em;

  border-radius: 50%;
  color: #fff;

  background: linear-gradient(208deg, #3c489c, #d45658, #bec13e);
}


.clearfix::after {
  content: " ";
  display: table;
  clear: both;
}
