@import "normalize";

// variables
$darkGrey: #141414;

//mixins
@mixin giphLinkDimensions($minMax, $margin){
  min-width: $minMax;
  max-width: $minMax;
  margin: $margin;
}

@mixin mediaQuery($pixels) {
  @media screen and (min-width: $pixels) {
    @content
  }
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: $darkGrey;
}

a {
  text-decoration: none;
}

header {
  padding: .3em;
  .homeLink {
    display: inline-block;
    color: #FFF;
    font-weight: bold;
    font-size: 2em;
    text-transform: uppercase;
    padding: .1em;
    // background: blue;
  }

  @include mediaQuery (650px) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1.5%;
    .homeLink {
      width: 30%;
      max-width: 105px;
    }
    .searchBar {
      width: 50%;
      max-width: 516px;
      display: flex;
      align-items: center;
    }
  }
}

.searchBar {
  input[type="text"],
  .searchBtn {
    font-size: 1em;
    padding: .5em 0;
    margin: 0;
    border: 0;
  }

  input[type="text"] {
    width: 100%;
    padding-left: .3em;
  }

  .searchBtn {
    width: 10%;
    margin-left: -10%;
    color: #FFF;
    background: linear-gradient(141deg, #8eff4e, #4effab, #4ee6ff);
  }
  // background: orange;
}

header {
  width: 95%;
  max-width: 1255px;
  // background: pink;
  margin: 0 auto;
}

.searchResults {
  // background: orange;
  ul {
    // background: gold;
    width: 95%;
    max-width: 1255px;
    margin: 0 auto;
  }
}

.giphLink,
.giph {
  height: 14em;
}

.giphLink {
  display: block;
  background: linear-gradient(141deg, #8eff4e, #4effab, #4ee6ff);
  float: left;
  @include giphLinkDimensions(47%, 1.5%);

  @include mediaQuery (700px) {
    @include giphLinkDimensions(30%, 1.6%);
  }

  @include mediaQuery (1000px) {
    @include giphLinkDimensions(22%, 1.5%);
  }
}

.giph {
  min-width: 100%;
  max-width: 100%;
}

.toTop {
  position: fixed;
  bottom: .5em;
  right: .5em;
  font-size: 2em;
  background: orange;
  padding: .2em;

  border-radius: 50%;
  color: #fff;

  background: linear-gradient(141deg, #8eff4e, #4effab, #4ee6ff);
}


.clearfix::after {
  content: " ";
  display: table;
  clear: both;
}

.noneFound {
  text-align: center;
  color: #FFF;
  max-width: 800px;
  margin: 0 auto;
}

.loader {
    border: 10px solid #f3f3f3; /* Light grey */
    border-top: 10px solid #4effab; /* Blue */
    border-radius: 50%;
    width: 5em;
    height: 5em;
    animation: spin 2s linear infinite;
    margin: 5em auto;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
